<div class="mt-4 border bg-white px-4 py-4">
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <td>Código</td>
        <td>Procedimiento</td>
        <td>Tipo Procedimiento</td>
        <td>Acción</td>
      </tr>
    </thead>
    <tbody class="table-group-divider">

      <tr>
        <td>1</td>
        <td>Procedimiento 1</td>
        <td>Quirurgico</td>
        <td>Acción</td>
      </tr>

      <td colspan="4" class="table-light">
        <p class="text-center">
          No hay registros para mostrar...
        </p>
      </td>

    </tbody>
  </table>
</div>
